/.cpcache
/.clj-kondo
/.lsp
/.tools
/.tmp
/.zig-global-cache
/.zig-local-cache
/target
/dist
/ghostty-reference
__pycache__
/ghosttyfx/target
/ghosttyfx/.settings
/ghosttyfx/.classpath
/ghosttyfx/bin
/ghosttyfx/.project
/ghosttyfx-linux-x86_64/target
/ghosttyfx-macos-aarch64/target
/ghosttyfx-macos-x86_64/target
/ghosttyfx-windows-x86_64/target
hs_err_pid*.log
