/.cpcache
/.clj-kondo
/.lsp
/.tools
/.tmp
/.zig-global-cache
/.zig-local-cache
/target
/dist
/.flattened-pom.xml
__pycache__
/ghosttyfx*/target/
/ghosttyfx*/.flattened-pom.xml
/ghosttyfx-core/.settings
/ghosttyfx-core/.classpath
/ghosttyfx-core/bin
/ghosttyfx-core/.project
/ghosttyfx-manual-app/.settings
/ghosttyfx-manual-app/.classpath
/ghosttyfx-manual-app/bin
/ghosttyfx-manual-app/.project
hs_err_pid*.log
/ghosttyfx-core/.tmp
/ghosttyfx-perf-app/.tmp
/ghosttyfx-windows-x86_64/.tmp
